@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can go here */
body {
  @apply bg-gray-50 text-gray-900 dark:bg-dark-bg dark:text-dark-text-primary transition-colors duration-200;
}